.app-featured-listings-slider .ts-close-button {top:0px; left:0px;}
.app-featured-listings-slider .functions,
.app-featured-listings-slider .datapath {text-align:right; margin:10px;}
.app-featured-listings-slider a.button { cursor:pointer; border:1px solid #aaa; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:2px 5px; }

.app-featured-listings-slider .selector div.remove {display:none;}